.hot-movie-container {
    width      : 16.6%;
    flex-shrink: 0;
}

.new-movie-container {
    width      : 25%;
    flex-shrink: 0;
}

.movie-card {
    margin  : 10px 10px 10px 0;
    overflow: hidden;
}


.card-img {
    height: 300px;
}

.ant-card-body {
    padding: 16px 24px;
}

.loading-img-box {
    height: 300px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position        : relative;
    background-color: #f5f6f7;
    cursor          : not-allowed;
}

.loading-img{
    position : absolute;
    top      : 30%;
    left     : 50%;
    width    : auto;
    height   : auto;
    transform: translate(-50%, -50%);
}

// .num-tag {
//     position   : absolute;
//     left       : 0;
//     top        : 10px;
//     z-index    : 10;
//     text-align : center;
//     width      : 44px;
//     height     : 53px;
//     line-height: 40px;
//     color      : #fff;
//     font-size  : 18px;
//     background : url(//www.iqiyipic.com/common/fix/site-v4/mod-num-icon.png) no-repeat 0 0;
// }

// .num-tag1 {
//     background-position-x: -50px;
// }

// .num-tag2 {
//     background-position-x: -100px;
// }

// .num-tag3 {
//     background-position-x: -150px;
// }

// li {
//     position: relative;
// }